<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Fruteria.My.MySettings.PROYECTOVENTAConnectionString"
            connectionString="Data Source=DESKTOP-0FHM2KC\MYSQLSERVER1;Initial Catalog=PROYECTOVENTA;Persist Security Info=True;User ID=sa;Password=chicharo123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>